@import '~bootstrap/scss/bootstrap';
@import './partials/shortcut';
@import './partials/showRestaurant';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: $second_color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.all-content {
    margin-top: 130px;
    padding-bottom: 80px;
}

h1 {
    color: $primary-color;

    .fa-location-dot {
        margin-left: -8px;
    }
}