@use './shortcut';

#showD {
    padding-bottom: 60px;

    .card {
        position: relative;

        .buttons {
            position: absolute;
            top: 10px;
            right: 10px;

        }
    }
}